.backgorund-img{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.dashboard-content{
    background-image: url('../res/img/bg.jpg');
    height: 25vh;
    background-color: aqua;
}
.upcoming{
    height: fit-content;
}
.pic-cont{
    height: 3rem;
    width: 3rem;
}
.pic-cont img{
    object-fit: cover;
}
@media (max-width: 991px) {
    .dash-cont{
        width: 90vw!important;
    }
    .upcoming{
        display: none;
    }
    .assignment-cont{
        padding-left: 0%!important;
        width: 100%!important;
    }
}