.login-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(30deg, white, #b9d5ff) no-repeat;
}

.cont {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    border-radius: 10px;
  }
  
  .cont h6 {
    text-align: center;
    padding: 0 0 20px 0;
    margin-top: 10px;
    border-bottom: 1px solid silver;
  }
  
  .login-form {
    padding: 0 40px;
  }
  
  @media (max-width: 768px) {
    .cont {
      width: 90%;
    }
  }
  
  @media (max-width: 480px) {
    .login-form {
      padding: 0 20px;
    }
  }
  
  @media (max-width: 360px) {
    .cont h1 {
      font-size: 28px;
    }
  }