.profile-cont {
    width: 150px;
    height: 150px;
    background-image: url('https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-profiles/avatar-1.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.profile-section {
    width: 30vw;
}

.profile-ul button{
    white-space: nowrap;
}

.info {
    width: 30vw;
}

.main-content img {
    width: 30%;
    height: 70%;
}

.upload-file {
    width: 30vw;
}
@media (max-width: 580px) {
    .top-profile{
        position: relative;
        right: 3rem;
    }
    .profile-ul{
        margin-left: 1rem!important;
    }
}